<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Register">
  <ion-content>
    <form name="registerForm" ng-submit="register()">
      <div class="list">
        <label class="item item-input">
          <input type="email" name="email" ng-model="account.email" placeholder="Email" autofocus>
        </label>
        <label class="item item-input">
          <input type="password" name="password" ng-model="account.password" placeholder="password" ng-min="5">
        </label>
        <div class="padding">
          <button class="button button-block button-outline button-positive"
                  type="submit">
            Submit</button>
        </div>
      </div>
    </form>

    <pre>{{errors}}</pre>
    <pre>{{account}}</pre>
  </ion-content>
</ion-view>
